/* =============================================================================
                   Footer
   ========================================================================== */

footer {
  clear:both;
  // position: fixed;
  // bottom:0;
  width: 100%;
  background: grey;

  
}

.flexContainer{
  display: flex;
  justify-content: space-between;
  align-items: stretch;


}


.copyright,
.socialLogos{
  flex: 1 0 auto;


}

.socialLogos{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
  font-size: 25px;
  margin: auto;


}

.socialLogos i{
  padding: 0 5px;
  color: black;
}

.socialLogos i:hover{
  color: #8FCAFC;
  list-style-type: none;

}

