.frontWrapper{
	background-image: url(img/src/skySkrapers.jpg);
	background-size: cover;
	height: 100vh;
	padding: 20px;
	background-repeat: no-repeat;
	margin: 0 auto;
	text-align: center;
	background-attachment: fixed;
	
	// background-position: fixed;

		h1{
			font-size: 60px;
			text-transform: uppercase;
			letter-spacing: 8px;
			font-weight: 400;
		}
}

.frontButtons{
	display: flex;
	margin: auto;
	// justify-content: space-between;

	.personalButton, .bizButton{
		display: flex;
		margin: auto;
		padding: 200px 0;
		// flex: 1 0 auto;
	}

	.personalButton button,
	.bizButton button{
		padding: 20px 60px;
		background-color: $turq;
		@include fzwButton;
		border-radius: 5px;
		border:1px solid black;
		-webkit-box-shadow: 1px 4px 8px 4px rgba(0,0,0,0.26);
	  	-moz-box-shadow: 1px 4px 8px 4px rgba(0,0,0,0.26);
	  	box-shadow: 1px 4px 8px 4px rgba(0,0,0,0.26);


	}


}

// BLOG SECTION**************************

.blogFrontWrapper{
	display: flex;
	margin: auto;
	flex: 1 0 auto;
	justify-content: space-around;
	background-color: $navy;
	padding: 50px;

	h2{
		@include fzwInnerTitle;
		text-align: center;
	}

	.basic-layout .lptw-post-title{
		font-size: 30px;
		text-transform: uppercase;
		color: black;
		border:1px solid black;
		font-family: $robo;
	}
	
}


// CONTACT FORM **********************

.contactForm{
	width: 100%;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
	background-color: $lgrey;
	background-image: url(img/src/googlmapimageopac.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-height:100vh; 
	display: flex;
	flex-flow: column;

		h1{
			font-size: 40px;
			color: white;
			text-transform: uppercase;
			font-family: $robo;
			letter-spacing: 5px;

		}
		p{
			color: white;
			padding: 0;
			margin: 0;
			letter-spacing: 5px;
			margin: 10px;
		}
		input{
			padding: 10px;
		}


		textarea{
			margin: 5px;
		}
		input[type=submit]{
			@include fzwFormButton;

		}
}

// CONTACTIN INFO********************

.moreContact{
	display: flex;
	margin: auto;
	padding: 40px 0 20px 0;
	flex: 1 0 auto;
	align-items: stretch;
	width: 100%;

	h3{
		color: white;
	}

}

.address, .phone{
	width: 30%;
	flex: 1 0 auto;
	justify-content: space-between;
	



}





