$lgrey: #999D9E;
$darkgrey: #424042;
$blue: #8FCAFC;
$turq: #20657C;
$navy: #29313D;

$robo: 'Roboto Condensed', sans-serif;
$lora: 'Lora', serif;


@mixin fzw($fz, $fw) {
	font-size: $fz;
	font-weight: $fw;
}

@mixin fzwButton{
	font-size: 20px;
	font-weight: 700;
	// font-family: $robo;
	text-transform: uppercase;
	letter-spacing: 5px;
}

@mixin fzwInnerTitle{
	font-size: 40px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
}

@mixin fzwFormButton{
	font-size: 20px;
	font-weight: 700;
	font-family: $robo;
	text-transform: uppercase;
	letter-spacing: 5px;
	border-radius: 5px;
		border:1px solid black;
		padding: 20px 75px;
	-webkit-box-shadow: 1px 4px 8px 4px rgba(0,0,0,0.26);
	  	-moz-box-shadow: 1px 4px 8px 4px rgba(0,0,0,0.26);
	  	box-shadow: 1px 4px 8px 4px rgba(0,0,0,0.26);

}

